
#pop {
    left: -199px!important;
    max-width: 100%;
    
}

#chat {
	height: 400px;
	width: 100%;
}

#pop .arrow {
    left: 90%
}

span {
	text-align: right;
	display: inline-block;
	text-decoration: none;
}

a {
	text-decoration: none;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #6E90AC;
    color: white;

}

.chatheading {
   background-color: #515151;
}

.list{
	text-align: right;
	display: inline-block;
}

.panel {
	border-radius: 0px;
	background-color: #EBEBEB;
}



.panel-heading {
	border-radius: 0px;
	height: 40px;
	background-color: #6E90AC;
}

.panel-body {
	height: 400px;
	overflow: scroll;
	padding: 0px;
	background-color: #EBEBEB;
}

.chatcontent {
   position: relative;
   top:20px;
   padding-left: 0px;
   margin-left: 40px;
}



.userpic {
	float: left;
    width: 30px;
	height: 30px;
	margin-right: 5px;
}
.userpic img {
	border-radius: 50%;
    border: 1px solid white;
    width: 100%;
    height: 100%;
}
.panel-footer{

}
.chatlist {
	padding-right: 0px;

}

.toright {
	max-width: 300px;
	margin-left:400px;
	clear: both;
	text-align: right;

}

.chatpanel {
	padding-left: 0px;
}

.dialog {
	width: 100%;
}

.dialogitem {
	position: relative;
	max-width: 300px;
	
	margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    font-weight: bold;
    word-wrap: break-word;
}
.dialogtext {
	background-color: white;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
}
