#social-sidebar {
	display: none;
}

.arrowleft {
	margin-top: 400px;
	padding-left: 100px;
	 z-index: -2;
	 padding-right: 100px;
	

}

.arrowleft i{
    text-decoration: none;
    color: rgba(255,255,255,.6);
    display: block;
    height: 40px;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    text-align: center;
    width: 40px;
    font-size: 6em;
    display: inline-block;
}

.arrowleft i:hover {
    cursor: pointer;
}

.arrowleft i:nth-child(2){
    float: right;
}


